doctype html
html(lang="en")
    head
        title= title
        | <style type='text/css'>
        include style.css
        | </style>
    body
        div#wrapper
            h1= title
            h2
                em= statusCode
                = error
            ul#stacktrace
                each line in stack
                    if line.indexOf('    at') === 0
                        li= line
                    else
                        li.source
                            pre.prettyprint.lang-javascript= line
        script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')